@using Autorization.Data
@using System;
@using System.Collections.Generic
@inject UserService userService
@inject ILocalStorageService localStorageService;


@if(!isRegistration)
{
    <h3>Авторизация</h3>
    <div>
        <label>Введите логин</label>
        <input @bind-value="auth_login"  placeholder="Введите логин">
        <br /><br />
        <label>Введите пароль</label>
        <input type="password" @bind-value="auth_pass" placeholder="Введите пароль">
        <br /><br />
        <button @onclick=Autorization name="authButton">Войти</button>
        <button @onclick=Registration name="authButton">Регистрация</button>
        <br /><br />

        <div align="right" width="550 px">
            <ul>
                <li>"@userService.CurrentUser.Name @userService.CurrentUser.Surname"</li>
            </ul>
        </div>
    </div>

    

    @if (isError)
    {
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    }
}
else if(isRegistration)
{
    <RegistrationComponent />
}

@code {
    string auth_login;
    string auth_pass;
    User user;
    bool isRegistration = false;
    List<User> users = new List<User>();
    bool isError = false;
    string errorMessage;

    private void Autorization()
    {
        if(auth_login != "" && auth_pass != "")
        {
            user = userService.CheckUser(auth_login, auth_pass);

            if(user != null)
            {
                users.Add(user);
                auth_login = null;
                auth_pass = null;
                isError = false; 
                localStorageService.SetAsync<User>("Authorization", user);
            }
            else
            {
                errorMessage = "Wrong login or password!";
                isError = true;
            }
        }
    }

    private void GetCard(User user)
    {

    }

    private void Registration()
    {
        isRegistration = true;
    }
}

