@using Autorization.Data
@using System;

<h3>Регистрация</h3>

<div>
      <label>Введите имя</label>
      <input @bind-value="reg_name"  placeholder="Введите имя" required >
      <br /><br />
      <label>Введите фамилию</label>
      <input @bind-value="reg_surname"  placeholder="Введите фамилию" required >
      <br /><br />
      <label>Введите почту</label>
      <input type="email" @bind-value="reg_email"  placeholder="Введите почту" required >
      <br /><br />
      <label>Введите логин</label>
      <input @bind-value="reg_login"  placeholder="Введите логин" required >
      <br /><br />
      <label>Введите пароль</label>
      <input @bind-value="reg_pass" placeholder="Введите пароль" required >
      <br /><br />
      <label>Повторите пароль</label>
      <input @bind-value="reg_pass2" placeholder="Введите пароль" required >
      <br /><br />
      <button name="regButton" @onclick=Registration>Зарегистрироваться</button>
      <br /><br />
</div>


@code {
    string reg_name;
    string reg_surname;
    string reg_email;
    string reg_login;
    string reg_pass;
    string reg_pass2;


    private void Registration()
    {
        if(reg_name != null && reg_name != null && reg_email != null 
            && reg_login != null && reg_pass != null && reg_pass2 != null)
        {
            if(reg_pass == reg_pass2)
            {
                UserService.AddToDatabase(new User(reg_name, reg_surname, reg_email, reg_login, reg_pass));
                ClearPage();
            }
            else
            {
                Console.WriteLine("Password dont match!");
            }
        }
        else
        {
            Console.WriteLine("Not all fields are filled!");
        }
    }

    private void ClearPage()
    {
        reg_name = null;
        reg_surname = null;
        reg_email = null;
        reg_login = null;
        reg_pass = null;
        reg_pass2 = null;
    }
}
